body {
    width: 100%;
    min-height: 100px;
    background-color: gainsboro;
    background-image: url('../src/App/component/img/backgroud.png') ;
    background-size:  100vw 100vh;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy", sans-serif
}